.container {
  display: flex;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 4rem;
  padding: 4rem 12rem 4rem 4rem;
  background: var(--color-black-5);
}
.question {
  height: 50%;
  margin-top: 2rem;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 50%;
}
.answer {
  color: var(--color-black-100);
  transition: background-color 0.3s ease;
}
.answer.selected {
  background-color: var(--color-orange-5);
}
.answer.correct {
  background-color: var(--color-green-5);
}
.answer.wrong {
  background-color: var(--color-red-5);
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 376px;
}
.sidebar .winningsList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sidebar .winningsList .winningItem {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
}

.winningItem.active {
  font-weight: bold;
  color: var(--color-orange-100);
  background: var(--color-orange-5);
}
.winningItem.passed {
  background: var(--color-black-5);
  color: #555;
}
