@import "@/styles/theme.css";

:root {
  --font-inter: "Inter", sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-inter);
  color: var(--color-black-100);
  background: white;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black-100);
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
}
