.container {
  display: flex;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 4rem;
  padding: 4rem 12rem 4rem 4rem;
  background: var(--color-black-5);
}
.question {
  height: 50%;
  margin-top: 2rem;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  gap: 2rem 0;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 376px;
}
.winningsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
